@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Fredericka+the+Great&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
  font-family: 'Antonio';
  src: url('./assets/Fonts/Antonio-VariableFont_wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.antonio {
  font-family: 'Antonio', sans-serif;
}

/* Global dark theme base */
:root {
  --color-bg: white;
  --color-surface: white;
  --color-text: black; /* Tailwind zinc-200/gray-200 equivalent */
  --color-text-muted: #9ca3af; /* gray-400 */
  --color-accent: #ffcf14; /* brand yellow */
}

html, body, #root {
  background-color: var(--color-bg);
  color: var(--color-text);
}